html {
    --border-radius: 0.375rem;
}

body {
    background-color: #f5f6fa;
    font-family: "TTNormsPro",sans-serif;
}

a {
    color: #222;
    text-decoration: none;
}

.wrapper {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .results {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

.search-box {
    flex: 1;
    max-width: calc(500px + 0.8rem);

    input {
        width: 100%;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid black;
        font-size: 20px;
        padding: 0.3rem 0.6rem;
    }
}

.topic-icons {
    display: inline-flex;
}

.topic-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
    font-size: 10px;
    margin-left: 5px;
}

.topic-icon.color-c1 {
    background-color: #ea4b55;
}

.topic-icon.color-c2 {
    background-color: #f59036;
}

.topic-icon.color-c3 {
    background-color: #f9eb00;
}

.topic-icon.color-c4 {
    background-color:  #afd24b;
}

.topic-icon.color-c5 {
    background-color: #3caf55;
}

.topic-icon.color-c6 {
    background-color: #f5f6fa;
}

.topic {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .topic-icon {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    svg {
        fill: black;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.document {
    height: 60px;
    text-decoration: none;

    img {
        height: 60px;
        border: 1px solid #888;
        border-radius: var(--border-radius);
        float: left;
        margin-right: 10px;
    }

    .doc-content {
        line-height: 16px;
        font-size: 14px;
        word-wrap: break-word;

        .doc-title {
            font-weight: bolder;
        }

        .doc-institute {
            font-style: italic;
        }

        > :not(:first-child):before {
            content: ', ';
        }
    }
}

.sdg {
    display: flex;
    flex-direction: column;

    .sdg-title {
        display: flex;
        gap: 0.5rem;

        .sdg-number {
            font-size: 16px;
            width: 20px;
            height: 20px;
            color: white;
            font-weight: bold;
            text-align: center;
            background-color: darkred;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sdg-name {
            font-weight: bolder;
        }
    }

    .sdg-element {
        svg {
            height: 16px;
            width: 16px;
        }
    }
}

.egd {
    display: flex;
    flex-direction: column;

    .egd-title {
        display: flex;
        gap: 0.5rem;

        .egd-icon {
            width: 20px;
            height: 20px;
        }

        .egd-name {
            font-weight: bolder;
        }
    }

    .egd-element {
        svg {
            height: 16px;
            width: 16px;
        }
    }
}

.search-results {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1rem;
    width: 500px;
    height: fit-content;

    h5 {
        margin: 0 0 0.5rem 0;
    }

    ul {
        margin: 0;
        list-style-type: none;
    }

    .list.rows {
        flex-direction: row;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .doc-wrapper {
            flex: 1 1 auto;
            width: 100%;
            max-width: 500px;
        }

        .docs-expand {
            display: flex;
            justify-content: center;
            cursor: pointer;

            svg {
                height: 16px;
                width: 16px;
            }
        }
    }
}
